<div class="search-menu" id="search-menu">
  {% if users and users.length > 0 %}
  {% for user in users %}

  <a class="search-menu__item" href="/users/{{user.username}}">
    <img src="https://res.cloudinary.com/daihl0cta/image/upload/c_thumb,w_200,g_face/v1652974096/{{ user.avatar }}" alt="">
    <span>{{ user.username | escape }}</span>
  </a>

  {% endfor %}

  {% else %}

  <div class="search-menu__item">
    <span>Pas d'utilisateur</span>
  </div>

  {% endif %}

</div>