<header>
  <a href="/" class="sidebar-left__logo">
    <img src="/images/logo.png" alt="" class="sidebar-left__logo__img">
    <h1 class="sidebar-left__logo__brand">Sweetter</h1>
  </a>
  <nav class="navbar">

    {% if isAuthenticated %}
    <a href="/" class="navbar__link">
      <i class="navbar__link__icon fa-solid fa-house"></i><span class="navbar__link__text">Accueil</span>
    </a>

    <a href="/auth/signout" class="navbar__link">
      <i class="navbar__link__icon fa-solid fa-right-from-bracket"></i><span class="navbar__link__text">Se déconnecter</span>
    </a>
    {% else %}
    <a href="/auth/signin/form" class="navbar__link">
      <i class="navbar__link__icon fa-solid fa-right-to-bracket"></i><span class="navbar__link__text">Se connecter</span>
    </a>

    <a href="/users/signup/form" class="navbar__link">
      <i class="navbar__link__icon fa-solid fa-user-plus"></i></i><span class="navbar__link__text">Inscription</span>
    </a>
    {% endif %}

  </nav>
</header>

<div>

  {% if isAuthenticated %}

  <a href="/tweets/new" class="btn btn--primary btn--sweeter">
    <i class="navbar__sweeter-btn-icon fa-solid fa-terminal"></i><span class="navbar__link__text">Sweeter</span>
  </a>

  <a class="sidebar-left__user-profile" href="/users/{{ currentUser.username }}">

    <img src="https://res.cloudinary.com/daihl0cta/image/upload/c_thumb,w_200,g_face/v1652974096/{{ currentUser.avatar }}" alt="" class="sidebar-left__user-profile__img">

    <span class="sidebar-left__user-profile__text"> {{ currentUser.username }} </span>

  </a>

  {% endif %}

</div>