<header class="search-form">
  <input type="text" placeholder="Rechercher" class="searchbar">
  <div class="search-menu" id="search-menu">

    <div class="search-menu__item">
      <img src="/images/profil-pic.webp" alt="">
      <span>Username</span>
    </div>
    <div class="search-menu__item">
      <img src="/images/profil-pic.webp" alt="">
      <span>Username</span>
    </div>
    <div class="search-menu__item">
      <img src="/images/profil-pic.webp" alt="">
      <span>Username</span>
    </div>
    <div class="search-menu__item">
      <img src="/images/profil-pic.webp" alt="">
      <span>Username</span>
    </div>

  </div>
  </form>

</header>