<header>
  <div class="sidebar-left__logo">
    <img src="/images/logo.png" alt="" class="sidebar-left__logo__img">
    <h1 class="sidebar-left__logo__brand">Sweetter</h1>
  </div>
</header>

<nav class="navbar">
  <a href="#" class="navbar__links">
    <i class="navbar__icons fa-solid fa-house"></i><span class="navbar__text-links">Accueil</span>
  </a>
  <a href="#" class="navbar__links">
    <i class="navbar__icons fa-solid fa-right-to-bracket"></i><span class="navbar__text-links">Connexion</span>
  </a>
  <a href="/tweet/new" class="navbar__links btn btn--primary">
    <span class="navbar__text-links">Sweeter</span>
  </a>
</nav>