<img src="/images/logo.png" alt="" class="sidebar-left__logo">
<nav class="navbar">
  <a href="" class="navbar__links">
    <i class="navbar__icon fa-solid fa-house"></i><span class="navbar__text-link">Accueil</span>
  </a>
  <a href="" class="navbar__links">
    <i class="fa-solid fa-arrow-right-to-bracket"></i><span class="navbar__text-link">Connexion</span>
  </a>

</nav>