<header class="search-form">
  <form action="">
    <input type="text" placeholder="Rechercher" class="searchbar" id="searchbar">
    <div id="search-menu-container">

    </div>

  </form>


  <script src="/js/searchbar.js"></script>

</header>