// --- LAYOUT ---
.main-container {
  padding: 0rem 2rem;
  border-left: 1px solid var(--greyLight);
  border-right: 1px solid var(--greyLight);
  min-height: 100vh;
  @include mobile-only {
    padding: 0 1rem;
  }
}

.main-header {
  @include flex(space-between, center, row);
  height: 6rem;
}

// --- Homepage (Tweets) ---

.tweet {
  @include flex(flex-start, stretch, column);
  border-bottom: 1px solid var(--greyLight);
  padding: 2rem 0;
}

.tweet__profile {
  margin-bottom: 1rem;
}

.tweet-buttons-group {
  padding: 0.5rem;
  font-size: 1.2rem;
  align-self: flex-end;
}

.tweet-buttons-group > .btn {
  margin-left: 0.5rem;
}

.tweet__delete-btn {
  color: var(--danger);
  font-size: 1.5rem;
}

.tweet__edit-btn {
  color: var(--primary);
  font-size: 1.5rem;
}

.icon {
  pointer-events: none;
}

//
