// --- LAYOUT ---
.main-container {
  border-left: 1px solid var(--greyLight);
  border-right: 1px solid var(--greyLight);
  min-height: 100vh;
}

.main-header {
  @include flex(space-between, center, row);
  height: 6rem;
  padding: 0 2rem;
  @include mobile-only {
    padding: 0rem 1rem;
  }
}

// --- Homepage (Tweets) ---

.tweet {
  @include flex(flex-start, stretch, column);
  border-bottom: 1px solid var(--greyLight);
  padding: 2rem 2rem;
  @include mobile-only {
    padding: 1rem 1rem;
  }
}
.tweet:nth-child(1) {
  border-top: 1px solid var(--greyLight);
}

.tweet__profile {
  @include flex(flex-start, center, row);
  margin-bottom: 1rem;
}

.tweet__profile > a {
  @include flex(center, center, row);
}

.tweet__profile__pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.tweet__profile__name {
  margin-left: 1.5rem;
  font-weight: 500;
  font-size: 1.8rem;
}

.tweet__content {
  margin: 1rem 0;
}
.tweet__content > p {
  white-space: pre-wrap;
  line-height: 2.3rem;
}

.tweet-buttons-group {
  padding: 0.5rem;
  font-size: 1.2rem;
  align-self: flex-end;
}

.tweet-buttons-group > .btn {
  margin-left: 0.5rem;
  background-color: transparent;
  border: 1px solid var(--greyMedium);
  transition: 0.15s ease-in-out;

  &:hover {
    background-color: var(--greyLight);
  }
}

.tweet__delete-btn {
  color: var(--danger);
  font-size: 1.5rem;
}

.tweet__edit-btn {
  color: var(--primary);
  font-size: 1.5rem;
}

.icon {
  pointer-events: none;
}

// --- Profile ---

.hidden-input {
  display: none;
}

.profile {
  @include flex(flex-start, center, row);
  gap: 1.5rem;
  padding: 1rem 2rem;
  @include mobile-only {
    @include flex(flex-start, center, column);
    padding: 1rem 1rem;
    text-align: center;
  }
}

.profile__pic {
  width: 12.5rem;
  height: 12.5rem;
  border-radius: 50%;
  cursor: pointer;
}

.profile__username {
  font-size: 2.1rem;
  font-weight: 600;
}

.profile__email {
  margin-top: 1rem;
}

.profile__counters {
  @include flex(center, center, column);
  align-self: stretch;
  gap: 1rem;
  margin-left: auto;
  @include mobile-only {
    @include flex(flex-start, stretch, column);
    padding: 1rem 1rem;
    margin-top: 1rem;
    margin-left: 0;
  }
}

.profile__counters__stats > div {
  @include flex(space-between, center, row);
  gap: 1rem;
  margin-bottom: 1rem;
}

.profile__counters__stats > div > span:nth-child(1) {
  font-weight: 500;
}

.profile__counters__stats > div > span:nth-child(2) {
  font-weight: 600;
  color: var(--primary);
}

.profile__follow-btn {
  margin-top: 1.5rem;
}
