html {
  font-size: 62.5%;
}

body {
  font-family: var(--fontMain);
  font-size: 1.8rem;
  line-height: 1;
  color: var(--greyDark);
}

h1 {
  font-size: 2.6rem;
  font-weight: 700;
  color: var(--primary);
}
h2 {
  font-size: 1.8rem;
}
strong {
  font-weight: 500;
}
