body {
  font-family: var(--fontText);
  font-size: 1.8rem;
  line-height: 1.4;
  color: var(--greyMedium);
}

h1 {
  font-family: var(--fontHeading);
  font-size: 3rem;
  font-weight: 900;
}

strong {
  font-weight: 500;
}
