{% layout './layout.liquid' %}
{% block %}

<header class="main-header">
  <h2>Profil de xxx</h2>
</header>

<div class="profile">

  <form action="/users/update/image" method="post" enctype="multipart/form-data" id="form-avatar">
    <label for="input-avatar">
      <img src="{{ currentUser.avatar }}" alt="" class="profile__pic">
    </label>
    <input type="file" name="avatar" id="input-avatar" class="hidden-input">

  </form>


  <p class="profile__username"> {{ currentUser.username }} </p>
  <p class="profile__email"> {{ currentUser.local.email }} </p>

  <div class="profile__counters">

    <div class="profile__counters__tweets">
      <span>Tweets</span>
      <span> {{ tweets.length }} </span>
    </div>

    <div class="profile__counters__following">
      <span>Following</span>
      <span>132</span>
    </div>

    <!-- <div class="profile__counters__following">

  </div> -->

  </div>

</div>

<script src="/js/profile.js"></script>

{% endblock %}