{% layout '../layout.liquid' %}
{% block %}

<header class="main-header">
  <h2>Accueil</h2>
</header>

<main class="tweet-list">


  <div class="tweet-container">


    TWEET
  </div>


</main>







{% endblock %}