{% layout '../layout.liquid' %}
{% block %}

<header class="main-header">
  <h2>Accueil</h2>
</header>

<main>

  <section class="tweet-list">

    {% if tweets %}

    {% for tweet in tweets %}
    <div class="tweet">

      <div class="tweet__profile">
        USER -- @UserOne
      </div>

      <div class="tweet__content">
        {{ tweet.content }}
      </div>

    </div>
    {% endfor %}

    {% endif %}






  </section>

</main>


{% endblock %}