{% layout '../layout.liquid' %}

{% block %}

<header class="main-header">

  {% if tweet.content %}
  <h2>Modifier le sweet</h2>

  {% else %}
  <h2>Rediger un sweet</h2>
  {% endif %}

</header>

<main>

  {% if tweet._id %}
  {% assign formAction = '/tweets/update/' | append: tweet._id %}
  {% else %}
  {% assign formAction = '/tweets' %}
  {% endif %}

  <form action="{{ formAction }}" method="post" class="form">

    <textarea name="content" id="content" placeholder="Quoi de neuf ?" class="form__text">{{ tweet.content | escape }}</textarea>

    {% if errors %}
    <ul>

      {% for error in errors %}
      <li class="form__error">{{ error }}</li>
      {% endfor %}

    </ul>
    {% endif %}

    <input type="submit" class="form__submit btn btn--primary">
  </form>


</main>



{% endblock %}