.btn {
  display: inline-block;
  width: 200px;
  padding: 1.5rem 2rem;
  font-size: 1.8rem;
  text-align: center;
  cursor: pointer;
  border-radius: 10rem;

  &:hover {
  }
  &:active {
  }
}

.btn--primary {
  background-color: var(--primary);
  color: white;
  font-weight: 600;
}
