.btn {
  display: inline-block;
  padding: 1.3rem;
  font-size: 1.8rem;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 10rem;
  transition: 0.15s ease-in-out;
}

.btn--primary {
  background-color: var(--primary);
  color: white;
  font-weight: 600;
  &:hover {
    background-color: var(--primaryDark);
  }
}

.btn--danger {
  background-color: red;
  color: white;
}

.btn--sweeter {
  width: 160px;
  @include tablet-only {
    width: 5rem;
    height: 5rem;
  }
}
