{% layout '../layout.liquid' %}

{% block %}

<header class="main-header">
  <h2>Inscription</h2>
</header>

<main>

  <form action="/users/signup" method="post" class="form">

    <div class="form__group">
      <label for="username">Nom d'utilisateur</label>
      <input type="text" name="username">
    </div>

    <div class="form__group">
      <label for="email">Email</label>
      <input type="text" name="email">
    </div>

    <div class="form__group">
      <label for="password">Mot de passe</label>
      <input type="password" name="password">
    </div>

    {% if errors %}
    <ul>

      {% for error in errors %}
      <li class="form__error">{{ error }}</li>
      {% endfor %}

    </ul>
    {% endif %}

    <div class="form__group">
      <button type="submit" class="form__submit btn btn--primary">S'inscrire</button>
    </div>



  </form>

</main>

{% endblock %}