.sidebar-left {
  @include flex(space-between, center, column);
  padding-right: 2rem;
  padding-bottom: 3.5vh;
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
}

.sidebar-left__logo {
  @include flex(flex-start, center, row);
  height: 6rem;
  margin-bottom: 2rem;
}

.sidebar-left__logo__img {
  width: 4rem;
  padding-top: 0.5rem;
}

.sidebar-left__logo__brand {
  display: inline-block;
  margin-left: 1rem;
}

.navbar__link {
  @include flex(flex-start, center);
  margin: 2rem 0;
  transition: 0.15s ease-in-out;
}

.navbar__link:hover {
  color: var(--primary);
}

.navbar__link__icon {
  margin-right: 2rem;
  font-size: 2.25rem;
}

.navbar__link__text {
  font-weight: 500;
}
.navbar__sweeter-btn-icon {
  display: none;
  line-height: 2.3rem;
}

.sidebar-left__user-profile {
  @include flex(flex-start, center);
  margin-top: 3.5vh;
}

.sidebar-left__user-profile__img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.sidebar-left__user-profile__text {
  margin-left: 1rem;
}

@include tablet-only {
  .sidebar-left {
    text-align: center;
    padding-right: 1.6rem;
  }
  .sidebar-left__logo__brand {
    display: none;
  }
  .navbar__link {
    @include flex;
  }
  .navbar__link__icon {
    margin: auto;
  }
  .navbar__link__text {
    display: none;
  }
  .navbar__sweeter-btn-icon {
    display: inline-block;
  }
  .sidebar-left__user-profile {
    justify-content: center;
  }
  .sidebar-left__user-profile__text {
    display: none;
  }
}

@include mobile-only {
  .sidebar-left {
    padding-right: 0.8rem;
  }
}
