:root {
  // -- Fonts --

  --fontMain: 'Open Sans', sans-serif;

  // -- Colors --

  --white: #ffffff;
  --greyLight: #edf3f8;
  --greyMedium: #c3c8cc;
  --greyDark: #2d2e30;
  --black: #000000;

  --primaryLight: #569ac7;
  --primary: #1d9bf0;
  --primaryDark: #0d77bd;

  --shadowColor: #85858528;

  --danger: rgb(146, 0, 0);
}
