:root {
  // -- Fonts --

  --fontHeading: 'Red Hat Display', sans-serif;
  --fontText: 'Red Hat Text', sans-serif;

  // -- Colors --

  --white: #ffffff;
  --greyLight: #e9e9e9;
  --greyMedium: #505050;
  --greyDark: #252525;
  --black: #000000;

  --primaryLight: #ffdb39;
  --primary: #ffc100;
  --primaryDark: rgb(223, 163, 12);

  --accentLight: #778dcf;
  --accent: #4261bd;
  --accentDark: #2a3e79;

  --shadowColor: #85858528;
}
