:root {
  // -- Fonts --

  --fontMain: 'Open Sans', sans-serif;

  // -- Colors --

  --white: #ffffff;
  --greyLight: #e9e9e9;
  --greyMedium: #505050;
  --greyDark: #252525;
  --black: #000000;

  --primaryLight: #569ac7;
  --primary: #1d9bf0;
  --primaryDark: #0d77bd;

  --shadowColor: #85858528;
}
